@charset 'utf-8';

form {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 8px;
  width: 120px;
  line-height: 1.5;
  color: black;
  background: #ffe4b5;
  padding: 4px 0;
  margin: 10px 0;
  box-sizing: border-box;
}
.btn:hover {
  background: #f0e68c;
}
.table-btn {
  background: #e6e6fa;
}
