@charset 'utf-8';

form {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 8px;
  width: 120px;
  line-height: 1.5;
  color: black;
  background: #ffe4b5;
  padding: 4px 0;
  margin: 10px 0;
  box-sizing: border-box;
}
.btn:hover {
  background: #f0e68c;
}
.table-btn {
  background: #e6e6fa;
}
table {
  width: 70%;
  border-collapse: collapse;
  font-family: sans-serif;
}
th {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
td {
  border: 1px solid #ccc;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #fafafa;
}
tr:hover {
  background-color: #e6f7ff;
}
.input {
  margin: 10px;
  padding: 10px;
  border: 2px solid #ccc;
}
.input form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
.table {
  width: 100%;
  display: flex;
  justify-content: center;
}
