@charset "utf-8";

.A {
  display: flex;
  justify-content: center;
  padding: 40px 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px solid;
  margin: 10px;
}

.B {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
  padding: 40px 10px;
}

.menu {
  width: 120px;
  padding: 10px;
  text-align: center;
  border: 1px solid #333;
  margin: 5px;
}
