@charset 'utf-8';

.notice {
  color: blue;
}
.error {
  color: red;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  margin: auto;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.link-btn {
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  width: 120px;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 6px;
  color: #000;
  background: #ffc0cb;
  cursor: pointer;
}
.link-btn:hover {
  background: #ffe4b5;
}
.submit-btn {
  margin: 10px 0px;
  background: #ffd700;
}
.submit-btn:hover {
  background: #ffe4b5;
}
.content {
  border: 2px solid #ccc;
  padding: 0px 10px;
  margin: 20px;
}
.form form{
  display: flex;
  flex-direction: column;
  gap: 12px
}
.submit-container {
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f0f0f0;
}
.action {
  display: flex;
  gap: 12px;
}
.action-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  width: 80px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 6px 0;
  line-height: 1.5;
  color: #000;
  background: #ffc0cb;
  cursor: pointer;
  box-sizing: border-box;
}
.action-btn:hover {
  background: #ff69b4;
}
.action input[type="submit"].action-btn {
  line-height: 1.5;
}
.action form {
  margin: 0;
}
