@charset "utf-8";

h2 {
margin: 20px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
table {
  width:75%;
  border-collapse: collapse;
  margin: 20px;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f0f0f0;
}

/* index.php */
.main_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_menu h2 {
  width: 80%;
  text-align: center;
}
.menu_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  width: 100%;
  max-width: 400%;
}
.menu_list li {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
.menu_list li a {
  display: block;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

/* form */
.form {
  margin: 20px;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
}
.form_note {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #e0245e;
  font-size: 0.8rem;
}
.form_group {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* other */
.errors {
  color: red;
}
.notices {
  color: blue;
}
.btn {
  display: inline-block;
  padding: 4px 8px;
  margin: 10px 20px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
.btn:hover {
  transition: background 0.3s;
  background: #696969;
  color: #fff;
}
