@charset "utf-8";

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* index.php */
.main_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_menu h2 {
  width: 80%;
  text-align: center;
}
.menu_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  width: 100%;
  max-width: 400%;
}
.menu_list li {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
.menu_list li a {
  display: block;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}
