@charset "utf-8";

body {
  background-image: url(images/bg.png);
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

header {
  width: 1240px;
  margin: 0 auto 44px;
}
header ul {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
header ul li {
  padding: 10px;
}
header ul li a {
  font-size: 22px;
  font-weight: bold;
  color; #7c5d48;
}
header ul li a:hover {
  text-decoration: underline double;
}
.main {
  width: 1240px;
  margin: 0 auto 44px;
}
.main h2 {
  display: flex;
  justify-content: center;
}
.menu {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid;
}

.menu a {
  display: flex;
  justify-content: center;
  flex-basis: 120px;
  padding: 20px;
}
