@charset "utf-8";

/* index.php*/
body {
  background-image: url(images/bg.png);
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

header {
  width: 1240px;
  margin: 0 auto 44px;
}
header ul {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
header ul li {
  padding: 10px;
}
header ul li a {
  font-size: 22px;
  font-weight: bold;
  color; #7c5d48;
}
header ul li a:hover {
  text-decoration: underline double;
}
.main {
  width: 1240px;
  margin: 0 auto 44px;
}
.main h2 {
  display: flex;
  justify-content: center;
}
.menu {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid;
}
.menu a {
  display: flex;
  justify-content: center;
  flex-basis: 120px;
  padding: 20px 2px;
}
.menu a:hover {
  color: blue;
}

/* new.php */
.new form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  border: 2px solid;
  padding: 10px;
}
.new label {
  margin: 2px;
}
.new input {
  margin: 2px;
}

/* table */
table {
  width:100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f0f0f0;
}
.status-done {
  background-color: #e0e0e0;
  color: #888;
}
.status-done td {
  text-decoration: line-through;
}

/* other */
.alert {
  color: red;
}
.notice {
  color: blue;
}
.back {
  width: 80px;
  text-align: center;
  background-color: white;
  margin: 10px 0px;
  padding: 2px;
  border: 2px solid;
}
