@charset "utf-8";

table {
  width:50%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f0f0f0;
}
.errors {
  color: red;
}
.notices {
  color: blue;
}
