@charset "utf-8";

body {
  background-image: url(images/bg.png);
}

.error-list li {
  color: red;
  font-weight: bold;
}

.cal {
  width: 500px;
  padding: 10px;
  border: 2px solid black;
}

.result {
  color: blue;
  font-weight: bold;
}
